li{
  list-style-type: none;
  float: left;
}
ul{
  list-style-type: none;
  margin: 0;
}
a{
  text-decoration: none;

}
.navdiv{
  display: flex;
  min-height: 10vh;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
  overflow: hidden;
}
#title{
  text-transform: uppercase;
  color: rgb(208, 193, 249);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5vh;
  padding: 3vh;
  overflow: hidden;
}
#element{
  text-transform: uppercase;
  color: rgb(208, 193, 249);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5vh;
  padding: 3vh;
  overflow: hidden;
}
